torch
torchvision
pytorch_warmup==0.1.1
torch-tb-profiler ==0.4.3
tensorboardx ==2.6.2.2
tensorboard ==2.15.1
tensorflow-datasets==4.9.3
olefile ==0.47
einops ==0.7.0
efficientnet_pytorch==0.7.1
zetascale==1.2.5
classifier-free-guidance-pytorch==0.5.2
tensorboardX
octo @ git+https://github.com/sebbyjp/octo.git@peralta
robo-transformers @ git+https://github.com/sebbyjp/robo_transformers.git@peralta